body {
	margin:0px;
	padding:0px 0px 0px 0px;
	background:#000000;
	}
div, p, span, a, ul, ol, li, h1, h2, h3, h4, h5, h6, form {
	margin:0px;
	padding:0px;
	}
.wrapper {
	margin:0px auto;
	padding:0px;
	width:100%;
	overflow:hidden;
	}
.main {
	margin:0px;
	padding:10px 10px 10px 10px;
	background:url(images/bg.jpg) no-repeat left top;
	background-size: cover;
	}
.header {
	margin:-30px 0px -20px 0px;
	padding:10px 0px 0px 30px;
	width:100%;
	overflow:hidden;
	color: #FFF;
	background:none;
	font-family: Brush Script MT, Arial, Helvetica, sans-serif;
	font-size:100px;
	text-decoration:none;
	text-align:left;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	}
.mid {
	margin:0px;
	padding:15px 0px 20px 0px;
	width:100%;
	overflow:hidden;
	}
.mid-left {
	margin:0px;
	padding:0px 21px 0px 0px;
	width:234px;
	float:left;
	}
.mid-right {
	margin:35px 0px 0px 0px;
	padding:20px 20px 20px 20px;
	width:77%;
	float:left;
	border-radius: 10px;
	border: 1px #323232 solid; 
	background: #FFF;
	opacity: 0.7;
	}
.mid-right table,td,tr,p,h1,img,{
	opacity: 1;
}
h1 {
	font-family: Brush Script MT, Arial, Helvetica, sans-serif;
	font-size:50px;
	font-weight:normal;
	color:#000;
	text-shadow: -1.5px 0 #FFF, 0 1.5px #FFF, 1.5px 0 #FFF, 0 -1.5px #FFF, 0px 0px 30px #FFF;
	line-height:24px;
	}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black, 0px 0px 30px #FFF;
	text-outline: black;
	color:#FFF;
	font-weight:bold;
	line-height:20px;
	}
.gap-1 {
	margin:0px;
	padding:0px 0px 20px 0px;
	text-decoration:none;
	}
.gap-2 {
	margin:0px;
	padding:0px 0px 15px 30px;
	}
p.txt-1 {
	margin:0px;
	padding:0px 0px 20px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#323232;
	font-weight:normal;
	line-height:16px;
	}
ul.left-nav {
	margin:0px;
	padding:0px 0px 20px 0px;
	list-style:none;
	}
ul.left-nav li {
	margin:0px;
	padding:10px 0px 10px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#323232;
	font-weight:normal;
	line-height:15px;
	display:block;
	border-bottom:1px solid #ececec;
	border-left:5px solid #ececec;
	background: #FFF;
	opacity: 0.8;
	}
ul.left-nav li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	text-decoration:none;
	/*color:#323232;
	font-weight:normal;*/
	}
ul.left-nav li a:hover {
	text-decoration:none;
	color:#323232;
	font-weight:normal;
	opacity: 1;
	}
.top{
	border-radius: 10px 10px 0px 0px;
}
.bottom{
	border-radius: 0px 0px 10px 10px;
}
.bmenu{
	padding: 5px;
	margin: 0 0 10px 0;
	position: relative;
}
.bmenu li{
	font-size: 30px;
	display: block;
}
.bmenu li a{
	text-decoration: none;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px black;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 5px black;
}
.bmenu li a:hover{
	color: black;
	text-shadow: 0px 0px 10px black;
	padding-left: 10px;
}
.footer {
	margin:0px;
	padding:0px;
	width:100%;
	overflow:hidden;
	background:#4ba5da;
	opacity: 0.8;
	}
p.copyright {
	margin:0px;
	padding:10px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	color:#000000;
	font-weight:bolder;
	text-align:center;
	line-height:12px;
}
table.table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bold;
}
.deleteTable td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bold;
	padding: 0px 30px 0px 0px;
}
.deleteId{
	text-align:center;
}
.viewAllTable{
	border-collapse: collapse;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bold;
	padding: 0px 30px 0px 0px;
	width: 100%;
}
.viewAllTable{
	padding: 5px 5px 5px 5px;
	text-align: center;
}
.viewAllComments td{
	width: 50%;
}
.TDR{
	border: solid 1px #000;
}
.red{
	color:red;
}
.viewBy{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bold;
}
.logout{
	border-radius: 10px;
}
.date{
	font-size: 34px;
}
ul.left-nav li.login{
	padding: 10px 0px 10px 10px;
}
input[type='submit'], #AjaxUploaderFilesButton {
  color: #ffffff;
  text-align: center;
  background-color: #0d7ba5;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  border-color: #289cc8;
  cursor: pointer;
  display: inline-block;
  line-height: 13px;
  padding: 2px 6px;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
#chart_div{
	text-align:center;
	padding:0px 0px 0px 0px;
	height: 500px;
	width: 100%;
}